<h1>New Auction</h1>
<p>Welcome <%= @user.username %></p>
<div class="auction-new-cards p-2" data-controller="newauction">
  <div class="auction-new-card-category p-2 bg-light" >
    <%= render 'shared/item_auction_list' %>
  </div>
  <div class="auction-new-card-category p-2 bg-light">
    <%= render 'form', auction: @new_item_auction %>
  </div>
</div>
