      <div class="row">
        <div class="d-flex justify-content-around" >
          <button class="btn btn-dark user-button" style="border-radius:20px" data-action="click->paymentmodal#newcreation">New Creation</button>

          <%# <button class="btn btn-dark user-button" style="border-radius:20px" data-action="click->paymentmodal#opencreation">My Creation</button> %>

          <button class="btn btn-dark user-button" style="border-radius:20px" data-action="click->paymentmodal#opencreation">My Creation</button>

          <button class="btn btn-dark user-button" style="border-radius:20px" data-action="click->paymentmodal#openauction">My Auctions</button>

          <button type="button" class="btn btn-dark user-button" style="border-radius:20px"  data-action="click->paymentmodal#opentopup">Top up credit</button>
      </div>
