<div class="banner">
  <%= render 'shared/navbar' %>
  <div class="banner-content">
    <div class="banner-text">
      <h1>KickAuction</h1>
      <h4>At an auction keep your mouth shut</h4>
      <h3>You need. You want. You bid. You win.</h3>
    </div>
  </div>
</div>
