<h1>KickCoction</h1>
<ul>

  <li><%= link_to "Item list", items_path %></li>
  <li><%= link_to "Auction", auctions_path  %></li>
  <li><%= link_to "Reviews", reviews_path %></li>
  <li><%= link_to "User Profile", users_path %></li>
</ul>
