.banner {
  background-color: black;
  // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8uizs68ILN20qwkrG60_A53W0fIleV0URNQ&usqp=CAU');
  background-image: url('https://as2.ftcdn.net/v2/jpg/04/46/93/93/1000_F_446939375_83iP0UYTg5F9vHl6icZwgrEBHXeXMVaU.jpg');
  background-size: cover;
  width: 100vw;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner-text {
  color: white;
}
