.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.nav-link {
  font-family: 'Kdam Thmor Pro', sans-serif;
  :hover {
    color: white;
  }
}
